:root {
    --water-color: #00aaff;
}

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.gameboard {
    margin: 2vmin;
    display: grid;
    background-color: var(--water-color);
    /* 4.6vmin * 10 = 46vmin + 2 * 2vmin from margin = 50vmin for each board */
    grid-template-rows: repeat(10, 4.6vmin);
    grid-template-rows: repeat(10, 4.6vmin);
}

.gameboard div {
    border: 1px solid rgba(255, 255, 255, 0.2);
}