:root {
    --water-color: #00aaff;
    --ship-color: #cccccc;
    --hit-color: #ff4d4d;
    --miss-color: #ffffff;
    --grid-color: #ffffff33;
}

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.battleship-grid {
    margin: 2vmin;
    display: grid;
    /* 4.6vmin * 10 = 46vmin + 2 * 2vmin from margin = 50vmin for each board */
    grid-template-rows: repeat(10, 4.6vmin);
    grid-template-columns: repeat(10, 4.6vmin);
}

.battleship-grid div {
    border: 1px solid var(--grid-color);
    background-color: var(--water-color);
}

#computer-board div {
    cursor: crosshair;
}

#computer-board div:not(.miss):not(.hit):hover {
    opacity: 50%;
}

.battleship-grid .ship {
    background-color: var(--ship-color);
}


.miss, .hit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hit::after,
.miss::after {
    content: "";
    position: absolute;
    border-radius: 100%;
    width: 2vmin;
    height: 2vmin;
}

.miss::after {
    background-color: var(--miss-color);
}

.hit::after {
    background-color: var(--hit-color);
}