:root {
    --water-color: #00aaff;
    --ship-color: #cccccc;
}

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.battleship-grid {
    margin: 2vmin;
    display: grid;
    background-color: var(--water-color);
    /* 4.6vmin * 10 = 46vmin + 2 * 2vmin from margin = 50vmin for each board */
    grid-template-rows: repeat(10, 4.6vmin);
    grid-template-columns: repeat(10, 4.6vmin);
}

.battleship-grid div {
    border: 1px solid #ffffff33;
}

#computer-board div {
    cursor: crosshair;
}

.ship {
    background-color: var(--ship-color);
}

.hit {
    background-color: #ff4d4d;
}

.miss {
    background-color: #ffffff;
}