:root {
    --water-color: #00aaff;
    --ship-color: #cccccc;
    --hit-color: #ff4d4d;
    --miss-color: #ffffff;
    --grid-color: #ffffff33;
}

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.battleship-grid {
    margin: 2vmin;
    display: grid;
    /* 4.6vmin * 10 = 46vmin + 2 * 2vmin from margin = 50vmin for each board */
    grid-template-rows: repeat(10, 4.6vmin);
    grid-template-columns: repeat(10, 4.6vmin);
    background-color: var(--water-color);
}

.battleship-grid div {
    border: 1px solid var(--grid-color);
    background-color: var(--water-color);
}

#computer-board div {
    cursor: crosshair;
}

#computer-board div:not(.miss):not(.hit):hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.battleship-grid .ship {
    background-color: var(--ship-color);
}

/* round corners of ships */
.ship:not(.ship-has-left).ship-has-right {
    border-top-left-radius: 2.3vmin;
    border-bottom-left-radius: 2.3vmin;
}

.ship:not(.ship-has-right).ship-has-left {
    border-top-right-radius: 2.3vmin;
    border-bottom-right-radius: 2.3vmin;
}

.ship:not(.ship-has-bottom).ship-has-top {
    border-bottom-left-radius: 2.3vmin;
    border-bottom-right-radius: 2.3vmin;
}

.ship:not(.ship-has-top).ship-has-bottom {
    border-top-left-radius: 2.3vmin;
    border-top-right-radius: 2.3vmin;
}
/* ---------------------------------------- */

.miss, .hit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hit::after,
.miss::after {
    content: "";
    position: absolute;
    border-radius: 100%;
    width: 2vmin;
    height: 2vmin;
}

.miss::after {
    background-color: var(--miss-color);
}

.hit::after {
    background-color: var(--hit-color);
}